#top_container
{
    margin-top: 7rem;
    width: 100%;
    height: 85vh;
    max-height: 50rem;
    margin-bottom: 5rem;
}
#img_container
{
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.4);
    position: relative;
    width: 75%;
    float: right;
    height: 80%;
    max-height: 30rem;
    overflow: hidden;
}
@keyframes slidy {
0% { left: 0%; }
27% { left: 0%; }
33% { left: -100%; }
60% { left: -100%; }
66% { left: -200%; }
95% { left: -200%; }
100% { left: -300%; }
}
#img_container figure {
  position: relative;
  width: 400%;
  margin: 0;
  height: 100%;
  text-align: left;
  animation: 15s slidy infinite;
}

#img_container img
{
    float: left;
    border-radius: 20px;
    width: 25%;
    height: 100%;
}
#about ul
{
    color: #4E4E4E;
    padding: 0;
    list-style: none;
}
#about
{
    text-align: center;
    width: 100%;
}
.boxes, .small, .large
{
    display: inline-block;
    width: 45%;
    margin: 0 1rem;
    margin-bottom: 3rem;
    height: 60vh;
    max-height: 30rem;
    background: white;
}
.shadow_boxes
{
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    border-radius: 30px;
}
.images_container div
{
    display: table;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
    height: 20rem;
}
.images_container div img
{
    width: auto;
    height: 35%;
    margin: 1rem;
    display: inline-block;
}
.images_container span:hover
{
    text-decoration: underline;
}
.middle .images_container
{
    height: 60%;
    width: 100%;
}
.middle .images_container img
{
    height: 100%;
    width: auto;
    border: none;
}
.middle h2
{
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    transform: translateY(20%);
}
.small
{
    display: none;
}
#contact_info
{
    width: 60%;
    margin-top: 10%;
    height: 15rem;
}
#contact_info li
{
    float: left;
}
#contact_info li img
{
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    margin-left: 0;
    border: 0;
}
#contact_info li span
{
    display: inline-block;
    transform: translateY(-120%);
    margin-left: 2px;
}
@media only screen and (max-width: 600px)
{
    html
    {
        font-size: 75%;
    }
    .boxes
    {
        width: 80%;
    }
    #left_sidebar
    {
        display: none;
    }
    #img_container
    {
        width: 90%;
        height: 80%;
        border-radius: 0;
        right: 5%;
    }
    #img_container img
    {
        border-radius: 10px;
    }
    #top_container
    {
        margin-bottom: 10px ;
        height: 40vh;
    }
    .boxes
    {
        width: 100%;
        height: 60vh;
        border-radius: 50px;
        margin: .5rem 0;
        box-shadow: 0 0 0 0;
        border-radius: 0;
    }
    .middle h2
    {
        transform: translateY(0%);
    }
    .small
    {
        display: inline-block;
    }
    .large
    {
        display: none;
    }

}