#rest_container
{
    max-width: 1200px !important;
    margin: 0 auto;
    margin-top: 4rem;
}
#left_sidebar
{
    font-family: semibold_font !important;
    margin-top: .5rem !important;
    width: 20%;
    float: left;
    margin-bottom: 1rem;
    height: 30rem;
    background: white;
}
.sidebar_categories div
{
    font-size: 1rem;
    padding: .5rem 0;
    width: 95%;
    padding-left: .7rem;
    border-bottom: 1px solid #60BCAD;
}
.sidebar_categories div:hover, .sidebar_product li:hover
{
    text-decoration: underline;
}
.sidebar_category
{
    list-style: none;
    padding: 0;
}
.sidebar_categories
{
    cursor: pointer;
    background: white;
    border-radius: 5px;
    border-bottom: 1px solid #60BCAD;
}
.sidebar_product
{
    list-style:none;
    display: none;
    padding: 1rem;
    background: white;
}
.sidebar_product li
{
    padding: .5rem 0;
}
.sidebar_product li a
{
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #60BCAD
}
@media only screen and (max-width: 600px)
{
#left_sidebar
{
    display: none;
}
}