{% extends 'navbar.html' %}
{% load static %}
{% block extra_links %}
<style>
#right_container
{
    width: 70%;
    float: right;
    margin-bottom: 1rem;
}
h1
{
    font-family: heavy_font !important;
    color: #4E4E4E;
    font-size: 3rem;
}
h2
{
    font-family: semibold_font !important;
    color: #4E4E4E;
    font-size: 2rem;
}
#contact_details ul
{
    list-style: none;
    padding: 0;
}
#contact_details ul li
{
    position: relative;
    height: 4rem;
}
#contact_details img
{
    height: 3rem;
    margin: .5rem 0;
}
.contact_info
{
    font-family: regular_font !important;
    position: absolute;
    display: inline-block;
    left: 8%;
    top: 30%;
}
#details, #contact_details
{
    font-weight: bold;
    font-size: 1.3rem;
}
#details
{
    font-family: regular_font !important;
}
@media only screen and (max-width: 600px)
{
    html
    {
        font-size: 75%;
    }
    #right_container
    {
        width: 95%;
    }
    #details, #contact_details
    {
        margin-left: 1rem;
    }
    .contact_info
    {
        left:15%;
        top:35%;
    }
}
</style>
{% endblock %}
{% block right_container %}
<div style = "font-weight: bold;" id = "right_container">
    <h1>CONTACT US</h1>
    <h2>Head Office</h2>
    <div id = "details">
        Siddhamani Appartment, 150N, Binoba Bhave Road, Flat No : N3A <br>Kolkata - 700038, West Bengal, India
        <br><br> Landmark : Near New Alipore Petrol Pump <br>
    </div>
    <h2>Contact Details</h2>
    <div id = "contact_details">
        
        <p style = "font-family: regular_font;">You can contact us anytime in the following mail or phone number</p>
        <ul>
            <li>
                <img src = "{% static 'Images/gmail_icon.png' %}">
                <div class = "contact_info">gitanshuimpex@gmail.com</div>
            </li>
            <li>
                <img src = "{% static 'Images/whatsapp_icon.png' %}">
                <div class = "contact_info">+91 83359 69429</div>
            </li>
            <li>
                <img src = "{% static 'Images/phone.png' %}">
                <div class = "contact_info">+91 83359 69429</div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}