{% extends 'navbar.html' %}
{% load static %}
{% block extra_links %}
<meta name = "title" content= "Gitanshu Impex Private Limited. Exporter based in Kolkata, India">
<link type="text/css" rel = "stylesheet" href = "{% static 'css/home.css' %}">
{% endblock %}
        {% block begin_top %}
        <div id = "top_container">
         {% endblock %}
         {% block right_container %}
            <div id = "img_container">
                <!--<img src = "{% static 'Images/home_logo.png' %}">-->
                <figure>
                <img  style = "display: block;" id = "cover1" src = "{% static 'Images/cover1.jpg' %}">
                <img  style = "display: block;" id = "cover2" src = "{% static 'Images/cover2.jpg' %}">
                <img style = "display: block;" id = "cover3" src = "{% static 'Images/cover3.jpg' %}">
                    <img  style = "display: block;" id = "cover4" src = "{% static 'Images/cover1.jpg' %}">
                </figure>
            </div>
        </div>
        <div id = "about">
            <ul>
                <li class = "boxes shadow_boxes">
                    <div class = "head"> <h2>COUNTRIES WE CURRENTLY <br> SHIP TO</h2></div>
                        <div class = "images_container">
                            <div>
                                <img src = "{% static 'Images/srilanka.PNG' %}">
                                <img src = "{% static 'Images/myanmar.PNG' %}">
                                <img src = "{% static 'Images/india.PNG' %}">
                            </div>
                    </div>
                </li>
                <li class = "boxes">
                    <div class = "middle">
                        <h2> WOULD YOU <br> LIKE TO BE OUR <br> PARTNERS? </h2>
                        <div class = "images_container">
                            <div>
                                <img style = "width: 100%; height: auto;" src = "{% static 'Images/handshake.PNG' %}">
                            </div>
                        </div>
                    </div>
                </li>
                <li class = "large boxes" id = "special1">
                    <div class = "middle">
                        <h2>LIST YOUR PRODUCT WITH OUR <br> WORLD RENOWED ENTERPRISE <br> TO GET RECOGNIZED</h2>
                        <div class = "images_container">
                            <div>
                                <img style = "margin-top: 1rem;" src = "{% static 'Images/import_export.PNG'%}">
                            </div>
                    </div>
                    </div>
                </li>
                <li class = "large boxes shadow_boxes">
                    <div class = "head"> <h2> SOME OF OUR <br> MOST APPRAISED PRODUCTS </h2></div>
                        <div class = "images_container">
                            <div style = "width: 70%; margin-top: 0; height: 17rem;">
                                <img src = "{% static 'Images/aluminium.jpg' %}">
                                <img src = "{% static 'Images/hinges(2).jpg' %}">
                                <img src = "{% static 'Images/motors.jpg' %}">
                                <img src = "{% static 'Images/hinges(1).jpg' %}">
                            </div>
                            <a href = "{% url 'mainapp:products' %}"style = "cursor: pointer;"
                               ><span style = "display: table; color: #4e4e4e; opacity: .8; float: right; margin-right: 2rem;">Show All Products ></span></a>
                        </div>
                </li>
                <li class = "small boxes shadow_boxes">
                    <div class = "head"> <h2> SOME OF OUR <br> MOST APPRAISED PRODUCTS </h2></div>
                        <div class = "images_container">
                            <div style = "width: 75%; margin-top: 0; height: 17rem;">
                                <img src = "{% static 'Images/aluminium.jpg' %}">
                                <img src = "{% static 'Images/hinges(2).jpg' %}">
                                <img src = "{% static 'Images/motors.jpg' %}">
                                <img src = "{% static 'Images/hinges(1).jpg' %}">
                            </div>
                            <a href = "{% url 'mainapp:products' %}" style = "cursor: pointer;"
                               ><span style = "display: table; color: #4e4e4e; opacity: .8; float: right; margin-right: 2rem;">Show All Products ></span></a>
                        </div>
                </li>
                <li class = "small boxes">
                    <div class = "middle">
                        <h2>LIST YOUR PRODUCT WITH OUR <br> WORLD RENOWED ENTERPRISE <br> TO GET RECOGNIZED
                            <div class = "images_container">
                            <div>
                                <img style = "margin: 1rem 1rem 2rem 1rem;"src = "{% static 'Images/import_export.PNG' %}">
                            </div>
                            </div>
                        </h2>
                    </div>
                </li>
                <li class = "boxes shadow_boxes" id = "special2">
                    <div class = "head"> <h2>CONNECT WITH US ON</h2></div>
                        <div class = "images_container">
                            <div id = "contact_info">
                               <ul>
                                    <li style = "display: block;">
                                        <img src = "{% static 'Images/whatsapp_icon.png' %}">
                                        <span>8017586761</span>
                                   </li>
                                   <li style = "display: block;">
                                        <img src= "{% static 'Images/phone.png' %}">
                                        <span>8017586761</span>
                                   </li>
                                   <li style = "display: block;">
                                        <img src = "{% static 'Images/gmail_icon.png' %}">
                                        <span>gitanshuimpex@gmail.com</span>
                                   </li>
                                   <li style = "display: block;">
                                        <img src = "{% static 'Images/iconfinder_facebook_circle_color_107175.png' %}">
                                        <span>Gitanshu Impex</span>
                                   </li>
                               </ul>
                            </div>
                        </div>
                </li>
                <li class = "boxes" id = "special3">
                    <div class = "middle"> <h2> WE ARE ALWAYS FREE <br> TO HEAR FROM YOU </h2>
                        <div class = "images_container">
                            <div>
                                <img src = "{% static 'Images/contact-us.svg'%}">
                            </div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
{% endblock %}
{% block html_scripts %}
{% comment %} <script>
            changeSlide();
            var c = document.getElementById("img_container").childElementCount;
            function changeSlide()
            {
                for(var i = 1; i <= c; i++)
                {
                    if(document.getElementById("cover" + i).style.display == "block")
                    {
                        document.getElementById("cover" + i).style.display = "none";
                        if(i == c)
                        {
                            document.getElementById("cover1").style.display = "block";
                        }
                        else
                        {
                            document.getElementById("cover"+(parseInt(i)+1)).style.display = "block";
                        }
                        break;
                    }
                }
                setTimeout(changeSlide, 3000);
            }
        </script>
{% endcomment %}
{% endblock %}