{% extends 'navbar.html' %}
{% load static %}
<head>
{% block extra_links %}
    {% endblock %}
</head>
{% block rest_container %}
    <div id = "rest_container">
        {% block begin_top %}
        {% endblock %}
        <div id = "left_sidebar">
            OUR PRODUCTS
            <ul class = "sidebar_category">
                <li class = "sidebar_categories">
                    <div  id = "sidebar_categories1" onClick = "dropdown(this.id)">T-Bars</div>
                    <ul class = "sidebar_product" id = "sidebar_product1">
                        <li>Drive My Car</li>
                        <li>Norwegian Wood</li>
                        <li>Nowhere Man</li>
                        <li>In My Life</li>
                        <li>Michelle</li>
                    </ul>
                </li>
                <li class = "sidebar_categories" >
                    <div id = "sidebar_categories2" onClick = "dropdown(this.id)">Shafting</div>
                    <ul class = "sidebar_product" id = "sidebar_product2">
                        <li>Drive My Car</li>
                        <li>Norwegian Wood</li>
                        <li>Nowhere Man</li>
                        <li>In My Life</li>
                        <li>Michelle</li>
                    </ul>
                </li>
                <li class = "sidebar_categories" >
                    <div id = "sidebar_categories3" onClick = "dropdown(this.id)">Footwear</div>
                    <ul class = "sidebar_product" id = "sidebar_product3">
                        <li>Drive My Car</li>
                        <li>Norwegian Wood</li>
                        <li>Nowhere Man</li>
                        <li>In My Life</li>
                        <li>Michelle</li>
                    </ul>
                </li>
                <li class = "sidebar_categories" >
                    <div id = "sidebar_categories4" onClick = "dropdown(this.id)">Metal Parts</div>
                    <ul class = "sidebar_product" id = "sidebar_product4">
                        <li>Drive My Car</li>
                        <li>Norwegian Wood</li>
                        <li>Nowhere Man</li>
                        <li>In My Life</li>
                        <li>Michelle</li>
                    </ul>
                </li>
                <li class = "sidebar_categories" >
                    <div id = "sidebar_categories5" onClick = "dropdown(this.id)">Cereals</div>
                    <ul class = "sidebar_product" id = "sidebar_product5">
                        <li>Drive My Car</li>
                        <li>Norwegian Wood</li>
                        <li>Nowhere Man</li>
                        <li>In My Life</li>
                        <li>Michelle</li>
                    </ul>
                </li>
                <li class = "sidebar_categories">
                    <div id = "sidebar_categories6" onClick = "dropdown(this.id)">T-Bars</div>
                    <ul class = "sidebar_product" id = "sidebar_product6">
                        <li>Drive My Car</li>
                        <li>Norwegian Wood</li>
                        <li>Nowhere Man</li>
                        <li>In My Life</li>
                        <li>Michelle</li>
                    </ul>
                </li>
            </ul>
        </div>
        {% block right_container %}
        {% endblock %}
    </div>
{% endblock %}
{% block html_scripts %}
<script>
function dropdown(clicked_id)
{
    n = (clicked_id[clicked_id.length-1]);
    console.log($("#sidebar_product1").css("display"));
    for(var i=1;i<7;i++)
    {
        if (i != n)
        {
            $("#sidebar_product"+i).slideUp("slow");
        }
        else
        {
            if ($("#sidebar_product"+i).css("display") == "block")
            {
                $("#sidebar_product"+i).slideUp("slow");
            }
            else
            {
            $("#sidebar_product"+i).slideDown("slow");
            }
        }
    }
}
</script>
{% endblock %}