{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gitanshu Impex Pvt. Ltd.</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        @font-face
        {
            font-family: heavy_font;
            src: url("{% static 'css/heavy_font.otf' %}");
            font-weight: 700;
        }
        @font-face
        {
            font-family: light_font;
            src: url("{% static 'css/light_font.otf' %}");
            font-weight: 700;
        }
        @font-face
        {
            font-family: regular_font;
            src: url("{% static 'css/regular_font.otf' %}");
            font-weight: 700;
        }
        @font-face
        {
            font-family: semibold_font;
            src: url("{% static 'css/semibold_font.otf' %}");
            font-weight: 700;
        }
    </style>
    <link type="text/css" rel = "stylesheet" href = "{% static 'css/navbar.css' %}">
    <link type="text/css" rel = "stylesheet" href = "{% static 'css/left_dropdown.css' %}">
    {% block extra_links %}
    {% endblock %}
</head>
<body>
    <section id = "main_container">
        <nav class = "fixed-nav-container">
            <div id = "nav_content">
            <div class = "sidebar">
                <div>
                    <button id = "sidebar_button">
                        <img src = "{% static 'Images/hamburger.png' %}">
                    </button>
                        <ul id = "sidebar_open">
                            <a href = "{% url 'mainapp:about_us' %}"><li><button id = "sbb_1" onClick = "sidebar_clicked(this.id)">ABOUT US</button></li></a>
                            <a href = "{% url 'mainapp:products' %}" ><li><button id = "sbb_2" onClick = "sidebar_clicked(this.id)">PRODUCTS</button></li></a>
                            <a href = "{% url 'mainapp:inquiry' %}"><li><button id = "sbb_3" onClick = "sidebar_clicked(this.id)">QUERY</button></li></a>
                            <a><li><button id = "sbb_4" onClick = "sidebar_clicked(this.id)">WHY GIPL?</button></li></a>
                            <a href = "{% url 'mainapp:contact_us' %}"><li><button id = "sbb_5" onClick = "sidebar_clicked(this.id)">CONTACT US</button></li></a>
                        </ul>
                    </div>
                </div>

            <div class = "logo"><a style = "text-decoration: none; color: #4E4E4E;" href = "{% url 'mainapp:home' %}"><img src = "{% static 'Images/ship2.PNG' %}">
            <p>GIPL</p></a></div>
            <div class = "desktop">
                <ul>
                    <a href = "{% url 'mainapp:about_us' %}"><li><button>ABOUT US</button></li></a>
                    <a href = "{% url 'mainapp:products' %}"><li><button>PRODUCTS</button></li></a>
                    <a href = "{% url 'mainapp:inquiry' %}"><li><button>QUERY</button></li></a>
                    <a><li><button>WHY GIPL?</button><li></a>
                    <a href = "{% url 'mainapp:contact_us' %}"><li><button>CONTACT US</button></li></a>
                </ul>
            </div>
                </div>
        </nav>
        <div id = "rest_container">
        {% block begin_top %}
        {% endblock %}
        <div id = "left_sidebar">
            OUR PRODUCTS
            <ul class = "sidebar_category">
                {% for c in categories %}
                <li class = "sidebar_categories" >
                    <div id = "sidebar_categories{{ forloop.counter }}" onClick = "dropdown(this.id)">{{ c.0 }}</div>
                    <ul class = "sidebar_product" id = "sidebar_product{{ forloop.counter }}">
                        {% for p in c.1 %}
                        <li>
                            <a style = "color: black;" href = "{{ request.scheme }}://{{ request.get_host }}/products/{{ p.name }}">{{ p.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% block right_container %}
        {% endblock %}
    </div>
        </div>
    </section>
    <script>
function dropdown(clicked_id)
{
    n = (clicked_id[clicked_id.length-1]);
    l = document.querySelectorAll(".sidebar_categories").length
    console.log(l)
    for(var i=1;i<l+1;i++)
    {
        if (i != n)
        {
            $("#sidebar_product"+i).slideUp("slow");
        }
        else
        {
            if ($("#sidebar_product"+i).css("display") == "block")
            {
                $("#sidebar_product"+i).slideUp("slow");
            }
            else
            {
            $("#sidebar_product"+i).slideDown("slow");
            }
        }
    }
}
</script>
    {% block html_scripts %}
    {% endblock %}
    <script src = "{% static 'js/navbar.js' %}"></script>
</body>
</html>



