{% extends 'navbar.html' %}
{% load static %}
{% block extra_links %}
<link type="text/css" rel = "stylesheet" href = "{% static 'css/product_des.css' %}">
{% endblock %}
{% block right_container %}
        <div id = "right_container">
            <div id = "image_slider">
                <img id = "left_slide" src = "{% static 'Images/arrhead.png' %}">
                <img id = "right_slide" src = "{% static 'Images/arrhead.png' %}">
                <div id = "image_container">
                    <img id = "current_pic"src = "{{ products_info.picture.url }}">
                </div>
                <p id = "counter">1/{{npics}}</p>
            </div>
            <div id = "product_info">
                <h1>{{ products_info.name }}</h1>
                <br>
                <h3>PRODUCT ID - {{ products_info.product_no|linebreaks }}</h3>
            </div>
            <div id = "product_description">
                {{products_info.products_description}}
                <h1 style="margin: 2rem 0 2rem 0; font-size: 8px;">Gitanshu Impex Private Limited</h1>
            </div>

        </div>
{% endblock %}
{% block html_scripts %}
<script>
    var ppics = ["{{ products_info.picture.url }}"];
    {% for pics in productspics %}
    ppics.push("{{pics.picture.url}}");
    {% endfor %}
    var im = document.querySelector("#image_container img");
    $("#right_slide").click(function(){
        var s = $("#counter").text();
        var n = parseInt(s[0],10);
        if (n != parseInt("{{npics}}",10))
        {
            ++n;
            console.log(n);
            $("#counter").text(n + "/{{npics}}");
        }
        document.getElementById("current_pic").src = ppics[n-1];
    });
    $("#left_slide").click(function(){
        var s = $("#counter").text();
        var n = parseInt(s[0],10);
        if (n != 1)
        {
            --n;
            console.log(n);
            $("#counter").text(n + "/{{npics}}");
        }
        document.getElementById("current_pic").src = ppics[n-1];
    });
</script>
{% endblock %}
</body>
</html>