{% extends 'navbar.html' %}
{% block extra_links %}
<style>
#registered
{
	font-size: 2.5rem;
	font-family: heavy_font !important;
	color: #4E4E4E;
}
#register_again
{
	background: black;
	width: 15rem;
	height: 2rem;
	color: white;
	font-family: semibold_font !important;
	cursor: pointer;
}
#right_container
{
    margin-left: 2rem;
    margin-top: 3rem;
    width: 70%;
    float: right;
}
@media only screen and (max-width: 600px)
{
	width: 100%
}
</style>
{% endblock %}
{% block right_container %}
<div id = "right_container">
	{% if registered %}
	<h2 id = "registered"> We Have Registered Your Query. Our Team Will Be Contacting You As Soon As Possible <h2>
	<a href = "{% url 'mainapp:inquiry' %}"><button id = "register_again">Register Another Query</button></a>
	{% else %}
	<h2 id = "registered">Oops! There Was A Problem While Registering Your Query. Please Try Again<h2>
	<a href = "{% url 'mainapp:inquiry' %}"><button id = "register_again">Try Again</button></a>
	{% endif %}
</div>
{% endblock %}